// // google font link
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Lato:wght@100;400&family=Roboto:wght@900&display=swap");
// firefox scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(128, 255, 236) rgb(36, 47, 64);
}

// Variable

$light: rgb(128, 255, 236);
$dark: rgb(36, 47, 64);

// Custom style
body {
  font-family: "Lato";
  background-color: #{$dark};
  scroll-behavior: smooth;
  // Scroll bar
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #{$dark};
  }
  &::-webkit-scrollbar-thumb {
    background-color: #{$light};
    border-radius: 20px;
    border: 3px solid#{$dark};
  }
}

.btn {
  border: 1px solid #{$light};
  color: white;
  margin: 20px auto;
  &:hover {
    background-color: #{$light};
  }
}

// //  side-bar

// .sidebar-right {
//   left: 0;
//   p {
//     transform: rotate(90deg);
//     position: relative;
//     top: -6.5rem;
//     left: 5px;
//   }
// }
// .sidebar-right,
// .sidebar-left {
//   display: flex;
//   justify-content: flex-end;
//   flex-direction: column;
//   align-items: center;
//   height: 100%;
//   position: fixed;
//   color: #{$light};
//   width: 5rem;

//   .line {
//     background-color: #{$light};
//     min-height: 4rem;
//     min-width: 2px;
//     position: relative;
//     bottom: 0;
//   }
// }
// .sidebar-left {
//   right: 0;

//   ul li {
//     list-style-type: none;
//     a {
//       font-size: 1.7rem;
//       color: #{$light};
//       position: relative;
//       left: -15px;
//       &:hover {
//         font-size: 3rem;
//       }
//       .svg {
//         width: 150px;
//         height: 20px;
//       }
//     }
//   }
// }

// mobile Design
@media (max-width: 768px) {
  body {
    background: #{$dark};
    color: white;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: #{$dark};
    }
    &::-webkit-scrollbar-thumb {
      background-color: #{$light};
      border-radius: 20px;
      border: 3px solid#{$dark};
    }
  }

  // header
  #header {
    display: none;
    height: 3rem;
    width: 100vw;
    align-items: center;
    left: 0;
    background-color: #{$dark};
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px -6px black;
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
      &.active {
        left: 0;
      }
      .nav-item {
        margin: 2.5rem;
      }
      .hamburger {
        display: block;
        cursor: pointer;
      }
    }
  }

  // main section

  .sidebar {
    display: none;
  }
  // Home section
  #home {
    padding-top: 30px;
    width: 100% !important;
    height: 100vh;
    .img {
      display: none;
    }
    .home-text {
      width: 100vw;
      height: 100vh;
      padding: 1.7rem;
      color: white;
      h6 {
        border: 1px solid #{$light};
        width: 7rem;
        margin-top: 10px;
        padding: 10px 20px;
      }
      h1 {
        font-size: 40px;
        padding: 10px 0;
        color: #{$light};
        font-weight: bold;
      }
      p {
        width: 100% !important;
        padding: 0;
        font-size: 0.9rem;
        letter-spacing: 1px;
      }
    }
    // scroll wheel
    .mouse {
      margin: 50px auto;
      width: 100px;
      position: absolute;
      top: 90%;
      left: 50%;

      button {
        background: transparent;
        border: none;
      }

      .mouse-icon {
        width: 25px;
        height: 45px;
        border: 2px solid white;
        border-radius: 15px;
        cursor: pointer;
        position: relative;
        text-align: center;
      }
      .mouse-wheel {
        height: 6px;
        margin: 2px auto 0;
        display: block;
        width: 3px;
        background-color: white;
        border-radius: 50%;
        -webkit-animation: 1.6s ease infinite wheel-up-down;
        -moz-animation: 1.6s ease infinite wheel-up-down;
        animation: 1.6s ease infinite wheel-up-down;
      }
      @-webkit-keyframes wheel-up-down {
        0% {
          margin-top: 2px;
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        100% {
          margin-top: 20px;
          opacity: 0;
        }
      }
      @-moz-keyframes wheel-up-down {
        0% {
          margin-top: 2px;
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        100% {
          margin-top: 20px;
          opacity: 0;
        }
      }
      @keyframes wheel-up-down {
        0% {
          margin-top: 2px;
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        100% {
          margin-top: 20px;
          opacity: 0;
        }
      }
    }
  }
  // End of Home Section
  // About Section
  #about {
    height: 100vh;
    padding-bottom: 2rem;
    h3 {
      color: #{$light};
      font-size: 2rem;
    }
    img {
      display: none;
    }
  }
  // End of About Section
  // skill Section
  .skills-container {
    flex-direction: column;
    padding: 10px;
    h3 {
      color: #{$light};
      font-size: 2rem;
    }
    .skill-list {
      i {
        font-size: 2.5rem;
        padding: 10px;
        color: #{$light};
      }
      span {
        color: #{$light};
      }
      img {
        width: 2.5rem;
        margin: 10px;
      }
    }
  }
  // Project
  #project {
    height: 130%;
    width: 100vw;
    text-align: center;
    padding-top: 2rem;
    .projects {
      text-align: center;
      // background-color: red;

      .pro-text {
        margin: 0 auto;
        // background-color: green;
        padding: 20px;
        h2 {
          font-size: 2.3rem;
        }
      }
      .project-container {
        width: 80vw;
        height: 50vh;
        margin: 0 auto;
        margin-bottom: 130px;
        // background-color: blue;
        .num {
          width: 60px;
          position: relative;
          top: -20px;
          left: 250px;
          height: 60px;
          // background-color: green;
          h2 {
            font-size: 3rem;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
              serif;
          }
        }
        .project-text {
          width: 75vw;
          height: 40%;
          margin: 0 auto;
          position: relative;
          top: 200px;
          // background-color: yellow;
        }
      }
    }
  }
}
